#centercol {

   height: 100%;
   border: #000000 1px solid;
   margin: 0 30% 0 10px;

}
#rightcol {
        border: #000000 0px solid;
        width: 28%;
        margin: 0 0 30px 10px;
        float: right;
}
#highlight {
   border: #CC9900 0px solid;
   background-color:   #CC9900;
}
ul#navigation {
	width: 12em;
}
ul#navigation li {
  list-style: none;
  background-color: #039;
  border-top: solid 1px #039;
  text-align: left;
  margin: 0;
}
ul#navigation li a {
  display: block;
  text-decoration: none;
  padding: .25em;
  border-bottom: 1px solid #3399FF;
  border-right: 1px solid #3399FF;
}
a:link, a:visited { color: #FFFFFF; }
a:hover, a:active { color: #000000; } 
a:hover { background-color: #fff; }
