/* PhEDEx website style sheet.  Somewhat inspired by a combination of
   Ruby on Rails and A List Apart.  More changes still coming.  */

/**********************************************************************/
/* General elements */

body {
  margin:		0;
  padding:		0;
  margin-bottom:	1em;

  color:		#222;

  background-color:	#fff;
  background-image:	url(PhEDEx-banner.jpg);
  background-repeat:	repeat-x;

  font-size:		80%;
  font-family:		'Lucida Grande', verdana, helvetica, arial, sans-serif;
  line-height:		1.6em;
}

h1 {
  margin:		0;
  padding:		0;
  margin-top:		1em;
  margin-bottom:	0.5em;
  font-size:		2em;
  font-weight:		normal;
  letter-spacing:	-0.04em;
}

h2 {
  margin:		0;
  padding:		0;
  margin-top:		1em;
  margin-bottom:	0.5em;
  font-size:		1.5em;
  font-weight:		normal;
  letter-spacing:	-0.04em;
}

iframe {
  border:		none;
}

img {
  border:		none;
}

p {
  margin-bottom:	1em;
}

ul {
  margin-left:		1em;
  margin-top:		1em;
  margin-bottom:	1em;
  /** list-style-type:	bullet; **/
}

ul li {
  margin-left:		1em;
  padding-left:		1em;
  /** background-image:	url(/images/bullet.gif); **/
  /** background-repeat:	no-repeat;  **/
  /** background-position:	0 0.55em; **/
}

ol {
  margin-left:		1em;
  margin-bottom:	1em;
  padding-left:		1em;
}

ol li {
  margin-left: 		0.5em;
  padding-left:		0.5em;
}

pre, code {
  font-size:		1.2em !important;
}

pre {
  text-align:		left;
  line-height:		1.3em;
  overflow:		auto; 
  margin-bottom:	10px;
  padding:		10px;
  background:		#eee;
  border:		1px solid #ccc;
}

pre.wide
{
  width:		100%;
  overflow:		visible;
  background:		none;
  border:		none;
}

/**********************************************************************/
/* General classes */

.right {
  float:		right;
  margin-left:		5px;
  margin-bottom:	5px;
  margin-right:		10px;
}

.nopad {
  padding:		0;
}

.nomar {
  margin:		0;
}

.nowrap {
  white-space:		nowrap;
}

/**********************************************************************/
/* Structure elements: header, content, sidebars etc.  */

div#page {
  position:		relative;

  padding:		0;
  margin-top:		5px;
  margin-left:		20px;

  font-size:		1em;
  text-align:		left;
}

div#heading {
  margin:		0;
  margin-top:		16px;
  padding:		0;
  padding-left:		100px;
  min-height:		100px;
}

div#heading h1.title {
  padding:		0;
  margin:		0;
  text-align:		left;
  color:		#105000;
  text-shadow:		3px 3px 5px #ffc;
}

div#heading h2.title {
  padding:		0;
  margin:		0;
  margin-top:		5px;
  text-align:		left;
  color:		#105000;
  text-shadow:		3px 3px 3px #ffc;
}

div#heading h2 {
  padding:		0;
  margin:		0;
  margin-top:		5px;
  text-align:		left;
  color:		#105000;
  text-shadow:		3px 3px 3px #ffc;
}

div#heading h3, div#heading h4 {
  padding:		0;
  margin:		0;
  text-align:		left;
  color:		#105000;
  text-shadow:		2px 2px 2px #ffc;
}

div#logo {
  position:		absolute;
  width:		100px;
  height:		100px;
}

div#content {
  border-top:		1px dashed #eee;
  clear:		both;
}

div#opts {
  position:  fixed;
  padding:  0;

  top:  50%;
  height:  400px;
  margin-top:  -200px;

  left:  50%;
  width:  600px;
  margin-left:  -250px;
  border:		10px solid blue;

}

div.optscontent,
div#optsnav div.raised {
  background-color:	#f2f2ff;
}

div#opts,
div#optsnav,
div#optsnav div.lowered {
  background-color:  blue;
}


div#optsnav {
  height:  25px;
  width:  100%;
  margin:  0;
  padding: 0;
  border:  none;
}

div.optscontent {
  height:  350px;
  padding:  0;
  padding-left:  1em;
  padding-right:  1em;
  overflow:  auto;
}

div#optsfoot {
  height:  25px;
  width:  100%;
  background-color:  blue;
  padding-top:  4px;
  text-align:  right;
}

div#optsnav div.raised,
div#optsnav div.lowered {
  text-decoration:  none;
  padding:  2px 6px 2px 6px;
  margin: 0;
  display:  inline;
  height:  100%;
}

div.raised a {
  color:  black;
  font-weight:  bold;
  text-decoration:  none;
}

div.lowered a {
  color:  #aaaaaa;
  text-decoration:  none;
}

/**********************************************************************/
div.viewnav {
  position:		absolute;
  top:			0;
  right:		0;
  width:		17em;
  font-size:		90%;
  line-height:		1.5em;
  background-color:	transparent;
  padding:		0;
  margin:		0;
  padding-top:		0.3em;
}

div.viewnav>div {
  overflow:		visible;
}

div.viewnav p {
  margin:		0;
  padding:		0;
}

div.viewnav a {
  color:		#32a804;
}

div.viewnav label {
  margin-right:		0.5em;
}

div.viewnav strong {
  font-weight:		bold;
  font-size:		110%;
}

div.viewnav .dim {
  color:		#666;
}

div.dbopt {
}

div#dbopts {
  position:		absolute;
  z-index:		1000;
  top:			2em;
  left:			0;
  width:		12em;
  background:		#fff;
  border:		1px solid #bbb;
  padding:		1em 1em 0.5em 1em;
  margin:		0;
}

div#dbopts a.closelink {
  position:		absolute;
  top:			0;
  right:		0;
  margin-right:		0.5em;
}



/**********************************************************************/
div.menuopt {
  margin:		0 0 0 1em;
  padding:		.5em 0 .5em 1em;
  background-color:	#EBFAE5; 
  border:		1px solid #e4f1db
}

div.menuopt ul {
  list-style-type:	none;
  display:		inline;
  margin: 		0;
  padding:		0;
  padding-top: 		5px;
  padding-bottom:	5px;
}

div.menuopt ul li {
  display:		inline;
  margin:		.5em 0;
  padding:		.5em 0;
}

div.menuopt ul li a {
  padding-left:		.5em;
  color:		#32a804;
  border-left:		1px solid #32a804;
}

div.menuopt ul li span {
  padding-left:		.5em;
  border-left:		1px solid #32a804;
}

div.menuopt ul li.selected {
  font-weight:		bold;
  /* text-transform:	uppercase; */
}

div.menuopt ul li.selected a {
  color:		#000;
  text-decoration:	none;
}

div.menuopt ul li:first-child a {
  border-left:		none;
  padding-left:		0;
}

/**********************************************************************/
div.catopt {
  margin:		1em 0 0 0;
  border-bottom:	1px solid #e4f1db;
}

div.catopt ul {
  list-style-type:	none;
  display:		inline;
  margin: 		0;
  padding: 		0;
  padding-top: 		5px;
  padding-bottom:	5px;
}

div.catopt ul li {
  display:		inline;
  margin:		0.5em;
  padding:		0.5em;
}

div.catopt ul li a {
  color:		#32a804;
}

div.catopt ul li.selected {
  background-color:	#EBFAE5; 
  border:		1px solid #e4f1db;
  border-bottom:	1px solid #EBFAE5;
  font-weight:		bold;
  /* text-transform:	uppercase; */
}

div.catopt ul li.selected a {
  color:		#000;
  text-decoration:	none;
}

/**********************************************************************/
div.toc {
  float:		left;
  padding:		0.5em;
  width:		22%;
}

div.toc ul {
  margin:		0;
  padding: 		1em;
  list-style-type:	none;
  border-left:		1px solid #e4f1db;
}

div.toc ul * {
  margin:		0;
  padding:		0;
  color:		#105000;
  border:		1px solid #fff;
  text-decoration:	none;
}

div.toc a:hover {
  text-decoration:	underline;
  background-color:	#e4f1db;
  border:		1px solid #bff19d;
}

div.toc h2 {
  margin:		0;
  padding: 		0;
  padding-bottom:	5px;
  list-style-type:	none;
  text-align:		center;
  background-color:	#e4f1db;
}

/**********************************************************************/
/* Site elements: highlight boxes, navigation elements, etc. */

#sidebar {
  font-size:		0.8em;
  padding:		0;
}

/*
.sidetopic {
  margin-bottom:	1em;
}

.sidetopic h2 {
  display:		inline;
  float:		left;
  margin:		0;
  padding:		0;
  padding-left:		4px;
}

.sidetopic ul {
  display:		inline;
  float:		left;
  margin:		0;
  padding:		0;
  padding-left:		4px;
}

.sidetopic ul li {
  display:		inline;
  float:		left;
  margin:		0;
  padding:		0;
  padding-left:		4px;
  font-size:		1em;
}

.sidetopic iframe {
  width:		130px;
  height:		30%;
}
*/

.topic {
  max-width:		70%;
  margin:		0 auto;
  padding:		0;
}

.topic p {
  margin:		0;
  padding:		1em;
  background-color:	#D6DFE8;
  text-align:		center;
  font-size:		1.2em;
  line-height: 		1.6em;
}

div.alertbox, div.alert {
  padding-bottom:	0;
  background-color:	#FFF0F5;
  border:		1px solid #DC143C;
  text-align:		center;
  max-width:		50%;
  /* margin-left:	auto; */
  /* margin-right:	auto; */
}

div.alert {
  margin:		1em;
  padding:		1em;
}

div.alertbox {
  padding:		.5em;
}

div.warningbox, div.warning {
  padding-bottom:	0;
  background-color:	#edf3fe;
  border:		1px solid #3d80df;
  text-align:		center;
  max-width:		50%;
  /* margin-left:	auto; */
  /* margin-right:	auto; */
}

div.warning {
  margin:		1em;
  padding:		1em;
}

div.warningbox {
  padding:		.5em;
}

div.notebox, div.note {
  padding-bottom:	0;
  background-color:	#e4f1db; 
  border:		1px solid #32a804;
  text-align:		center;
  max-width:		50%;
  /* margin-left:	auto; */
  /* margin-right:	auto; */
}

div.note {
  margin:		1em;
  padding:		1em;
}

div.notebox {
  padding:		.5em;
}

div.help {
  text-align:		left;
  float:		none;
  font-weight:		normal;
  display:		inline;
  position:		absolute;
  z-index:		100;
  margin-left:		1em;
  padding:		0.5em;
  background-color:	#aaaaff; 
  border:		1px solid #4444ff;
  width:		30em;
}

div.help a.closelink {
  position:		absolute;
  top:			0;
  right:		0;
  margin-right:		0.5em;
}

div.help p.title {
  padding:		0;
  margin:		0;
  font-weight:		bold;
  width:		25em;
}

div.help p.body {
  padding:		0;
  margin:		0;
  margin-left:		2em;
  width:		25em;
  text-align:		justify;
}

a.help {
  margin-left:		0.5em;
  margin-right:		0.5em;
}

/**********************************************************************/
div.list h3 {
  text-transform:	uppercase;
  margin:		0 0 10px 0;
  font-size:		1.2em;
  line-height:		1.4em;
  padding:		10px 0 1px 0;
  font-weight:		normal;
  /* color:		#630; */
  border-bottom:	1px solid #ccc;
}

div.list h3.nocaps {
  text-transform:	none;
}

div.list table {
  width:		100%;
}

div.list th, div.list td {
  vertical-align:	top;
  padding:		0 0.5em 0 0.5em;
}

div.list thead th {
  border-bottom:	1px dashed #ccc;
}

div.list tfoot th {
  border-top:		1px dashed #ccc;
}

/**********************************************************************/
/* Specific area elements  */


table.striped {
  border:		1px solid #666666;
  border-collapse:	collapse;
}

table.striped tbody {
  border:		1px solid #666666;
}

table.striped tbody tr td {
  font-size:		0.9em;
  padding:		2px 2px;
  border-left:		1px dotted #D9D9D9;
  vertical-align:	top;
}

table.striped tbody tr th {
  font-size:		0.9em;
  padding:		2px 2px;
  border-left:		1px dotted #D9D9D9;
/**  border-bottom:	1px dotted #D9D9D9; **/
  vertical-align:	top;
}
  
table.striped tbody tr.selected td,
table.striped tbody tr.selected th {
  background-color:	#3d80df;
  color:		#ffffff;
  font-weight:		bold;
  border-left:		1px solid #346DBE;
/**  border-bottom:	1px solid #7DAAEA; **/
  vertical-align:	top;
}


/** A generic table with stripes **/
table.data {
  border:  1px solid black;
  border-collapse:  collapse;
  background-color:  white;
  color:  black;
}

table.data td,
table.data th {
  border:  1px solid black;
  padding-left:   0.5em;
  padding-right:  0.5em;
  white-space:  nowrap;
}

table.data th,
table.data td.head {
  text-align:		center;
  background-color:	#3d80df;
  color:		white;
}

table.data tr.stripe {
  background:  #ddf;
}

table.data tfoot {
  border-top:  3px solid black;
  background:  #dfd;
}

table.data td.alarm,
table.data tr.alarm {
  font-weight:  bold;
  color:  white;
  background:  red;
}

table.data td.warn,
table.data tr.warn {
  font-weight:  bold;
  color:  black;
  background:  yellow;
}


.dense tr td {
  padding:  0;
}

.nice fieldset,
.nice p {
  width:  50em;
}

.nice label,
.nice .labeled {
  position:  relative;
  float: left;
  margin-bottom: 0.5em;
  margin-right: 0.5em;
}

.nice label {
  display: block;
  width:  12em;
  font-weight:  bold;
  text-align:  right;
  margin-right:  1em;
}

.nice label.inline {
  width:  auto;
  text-align:  left;
  margin-right:  0.5em;
}

.nice label .note {
  color:  #55a;
  font-size:  8pt;
  font-weight:  normal;
}

.nice .labeled {
}

.nice br { clear:  left; }

form.nice input,
form.nice select,
form.nice textarea { border:  1px solid black; }

.outline { border:  1px solid black; }
.padded { margin:  1em; padding:  1em; }

div.paramblock {
  border-left:  thick solid black;
  margin-left:  1em;
  margin-bottom:  1em;
  padding-bottom:  1em;
  margin-right:  1em;
}

div.paramblock h1 { 
  margin-left:  0;
  padding-left:  1em;
  border: 1px dotted black;
  font-weight:  bold;
  font-style:  italic;
  letter-spacing:  0.1em;
}

div.paramblock h2 { 
  margin-left:  0;
  padding-left:  1em;
  border: 1px dotted black;
  font-weight:  bold;
  font-style:  italic;
  letter-spacing:  0.1em;
}


.lev1    { background-color:  #d9d9ff;}
.lev1 h1 { background-color:  #c9c9ff;  font-size:  14pt; }

.lev2    { background-color:  #d9ffd9;}
.lev2 h1 { background-color:  #c9ffc9;  font-size:  12pt; }

.lev3    { background-color:  #ffd9d9;}
.lev3 h1 { background-color:  #ffc9c9;  font-size:  10pt; }

.admin    { background-color:  #dddddd; }
.admin h1 { background-color:  #cccccc; }


div.paramblock .hideaway { 
  border-top:  1px dotted black;
  border-bottom:  1px dotted black;
}

div.paramblock .comment {
  background-color:  white;
  width:  25em;
  border:  1px solid #aaa;
  padding:  0.5em;
}

div.paramblock .databox {
  background-color:  white;
  border:  1px solid #aaa;
  padding:  0.5em;
}

div.errorinfo {
  padding:		0.5em;
  width:		110em;
  border:		1px solid #F00;
  background:		#faf3f3;
  margin-bottom:	2em;
}

div.errorinfo .halfwidefield { width:  40em; }

div.errorinfo h1 {
  margin:		0;
  margin-bottom:	1em;
  font-size:		14pt;
}

div.errorinfo hr {
  border:		none;
  border-bottom:	1px solid black;
}

div.errorinfo .diff_assigned { color:  blue; }
div.errorinfo .diff_now { color:  green; }

div.logbox {
  font-family:		courier;
  background:		white;
  width:		95em;
  height:		15em;
  overflow:		scroll;
  border:		1px solid black;
  white-space:		pre;  
}


.alarm {
  font-weight:  bold;
  color:  white;
  background:  red;
}

p.alarm { color:  white; }
p.note { color:  blue; }

.good { color: green; }
.warn { color: #f73; }
.bad  { color: red; }
.goodbg { color:  white;  background-color:  green; }
.warnbg { color:  white;  background-color:  #f73; }
.badbg  { color:  white;  background-color:  red; }
.tinytext { font-size: 8pt; }

p.blocktext { width:  50em; }

div.short {
  background:  green;
  white-space: nowrap;
}

span.short { 
  background:  yellow;
  display:  block;
  width:  13em;
  float:  left;
  overflow:  hidden;
}

a.shorttoggle {
  background:  orange;
  display:  block;
  float:  left;
  width:  1.5em;
  margin:  0;
  text-decoration:  underline;
}

/************************************************/
/* allows tooltips in <div> */
div.ttp {
  position:  relative;
  z-index:  24;
}

div.ttp:hover {
  z-index:  25;
}

div.ttp div.tt {
  position: absolute;
  top: 2em;
  left: -10000em;
  z-index:  25;

  /* The default tooltip style */
  border:  1px solid blue;
  padding: 3px;
  background-color:  white;
  color:  black;
  font-size:  8pt;
}

/* Tooltips are dense */
div.ttp div.tt p {
  padding:  0px;
  margin:  0px;
}

div.ttp:hover div.tt {
  left:  5px;
}

/* allows div to be inline but NOT break safari popups */
.bl,.bc {
  display:  block;
  padding:  1px 1px 1px 1px;
  margin:  0px 2px 0px 2px;
}

/* for giving space right of a table, so tooltips are visible */
.rspace { margin-right:  10em; }
