/*
//=================================================================================================
//File Name  : datalookup.css
//Purpose    : The css file for Phedex data lookup web page. The file has style information of the
//             elements of the web page.
//=================================================================================================
*/

.txtboxBlkNode /*For the block name text box*/
{
    font-family: Calibri; 
    font-size: 12px; 
    font-weight: lighter; 
    font-style: normal; 
    font-variant: normal; 
    text-transform: none;
}

.rangetext /*For the data transfer percentage range text box*/
{
    font-family: Calibri; 
    font-size: 15px; 
    font-weight: lighter; 
    font-style: normal; 
    font-variant: normal; 
    text-transform: none; 
    width: 50px;
}

.progressbar /*For the progress bar*/
{
	height: 17px; 
	width: 300px;
}

.percent /*For the label that displays percentage over progress bar*/
{
    padding-left:2px;
    padding-top:0px;
    padding-right:2px;
    padding-bottom:2px;
    font-size:12px;
    font-weight:bold;
    margin-left:32%;
    margin-top:-16px;
    color: #000080;
}

.zeropercent /*For the label that displays 0 percentage over progress bar*/
{
    text-align:center;
    font-size:12px;
    font-weight:bold;
    color: #000080;
}

.zerodisablepercent /*For the label that displays 0 percentage over progress bar*/
{
    text-align:center;
    font-size:12px;
    font-weight:bold;
    color: #3366CC;
}

.disablepercent /*For the label that displays percentage over progress bar and disable it*/
{
	padding-left: 2px;
	padding-top: 0px;
	padding-right: 2px;
	padding-bottom: 2px;
	font-size: 12px;
	font-weight: bold;
	margin-left: 32%;
	margin-top: -16px;
	color: #3366CC;
}
.resulttable /*For the table that displays the block info with progress bar*/
{
	font-family: Calibri; 
    	font-size: 15px; 
    	font-weight: lighter; 
    	font-style: normal; 
    	font-variant: normal; 
    	text-transform: none;
}

.sometext /*For some text*/
{
	font-size: 13px;
	font-family:Calibri;
    	color: #000080;
}