/*
//=================================================================================================
//File Name  : datalookup.css
//Purpose    : The css file for Phedex data lookup web page. The file has style information of the
//             elements of the web page.
//=================================================================================================
*/

body /*For the body of the web page*/
{
    font-family:Calibri;
    color: #000080;
    font-size: 14px;
}

#formtitle /*For the web page title*/
{
    font-family: Calibri; 
    font-size:20px; 
    font-weight: bold; 
    font-style: normal; 
    font-variant: normal; 
    text-transform: none; 
    color: #000080;
}

.listbox /*For the list box*/
{
    font-family: Calibri; 
    font-size: 14px; 
    font-weight: lighter; 
    font-style: normal; 
    font-variant: normal; 
    text-transform: none;
    width:200px;
}

#yui-history-iframe 
{
	position:absolute;
	top:0; left:0;
	width:1px; height:1px; /* avoid scrollbars */
	visibility:hidden;
}

.sometext /*For some text*/
{
	font-size: 16px;
}
