/* .node{} */
/* .node-main{border:1px solid black;padding:2px 2px 2px 2px;background:#eee} */
/* .node-children{padding-left:20px;display:none} */
/* .node-header{background:#ddd;position:relative} */
/* .node-extra{display:none} */
/* .node-extra-link{text-align:center;font-size:80%;font-family:courier;width:100%} */
/* .node-extra-link:hover{background:#ccc} */
/* .node-children-link{font-family:courier;font-weight:bold;border:1px solid black;background:grey;padding-left:2px;padding-right:2px;text-decoration:none;color:white} */
/* .node-children-info{background:red} */
/* .node-menu-ul{list-style-type:none;padding:0;margin:0} */
/* .node-selected{display:none;position:absolute;top:0;left:0;height:100%;width:5px;background:red} */
/* .node-sort-dialog{display:none;position:absolute;top:50%;left:25%;background:beige;border:1px solid black} */
/* .comment{font-family:courier;background:beige;border:1px solid black} */
/* .border{border:1px solid black} */
/* .col1{position:absolute;left:300px} */
/* .col2{position:absolute;left:500px} */
/* .col3{position:absolute;left:700px} */
/* .col4{position:absolute;left:900px} */
/* ul .node-menu-item{display:none;background:#bbb} */
/* ul:hover .node-menu-item{display:block;z-index:99} */
/* li:hover > a .node-menu-item{background:#aaa} */
/* .node-menu{position:absolute;right:20px;top:0px;text-align:right;background:#ccc;border:1px solid black} */
/* div:hover .node-menu{z-index:99} */
/* .indent{padding-left:20px;display:none} */

body {
  margin: 0;
  padding: 0;
  font-size: 100%;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.align-justify {
  text-align: justify;
}

.inline_list {
  display: table;
  width: 100%;
  margin: 0;
  padding: 0;
}

.inline_list ul {
  display: table-row;
}

.inline_list li {
  display: table-cell;
  list-style-type: none;
  text-align: center;
}

.node-progress {
  position:absolute;
  right:6px;
  top:1px;
  height:20px;
  width:20px;
  display:none
}

.treeview-header {
  font-weight: bold;
}

.yui-panel .container-close {
  position:absolute;
  top:3px;
  right:6px;
  height:15px;
  width:18px;
  overflow:hidden;
  text-indent:-10000em;
  text-decoration:none;
/*   background: url(/yui/build/assets/skins/sam/sprite.png) no-repeat 0 -300px; */
  background: url(/images/widget-close.gif) no-repeat;
  cursor:pointer;
}

.yui-skin-sam .yui-dt-liner { white-space:nowrap; } 

.yui-panel .bd {
  overflow:auto;
  position: relative; /* Apparently fixes a problem in IE7 */
  background-color:eee;
  padding: 2px;
  margin: 0 5px 0 0;
}

.yui-panel .hd {
  height: 2em;
  overflow-y: auto; 
  background-color: ddd;
  padding: 0 5px 0 2px;
}

.yui-panel .ft {
  padding: 0 0 5px 0;
}

.yui-panel.content {
}

.yui-panel .yui-resize-handle-br {
    right:0;
    bottom:0;
    height: 8px;
    width: 8px;
    position:absolute;
}
.yui-panel.hide-scrollbars .yui-resize .bd {
  overflow: hidden;
}

.yui-panel.show-scrollbars .yui-resize .bd {
  overflow: auto;
}

.yui-panel.show-scrollbars .underlay {
  overflow: visible;
}
