body {
  margin: 0;
  padding: 0;
  font-size:		80%;
  font-family:		'Lucida Grande', verdana, helvetica, arial, sans-serif;
  line-height:		1.6em;
}

.phedex-box-blue      { border: 1px solid #88f; background-color: #eef; }
.phedex-box-green     { border: 1px solid #8f8; background-color: #efe; }
.phedex-box-red       { border: 1px solid #f88; background-color: #fee; }
.phedex-box-yellow    { border: 1px solid #ff8; background-color: #ffe; }
.phedex-box-mauve     { border: 1px solid #f8f; background-color: #fef; }
.phedex-box-turquoise { border: 1px solid #8ff; background-color: #eff; }
.align-left    { text-align: left; }
.align-right   { text-align: right; }
.align-justify { text-align: justify; }
.phedex-invisible { display: none; }
.phedex-hide-overflow { overflow: hidden; }
.inline_list {
  display: table;
  width: 100%;
  margin: 0;
  padding: 0;
}
.inline_list ul {
  display: table-row;
}
.inline_list li {
  display: table-cell;
  list-style-type: none;
  text-align: center;
}

.phedex-widget-selector {
  width: 50em;
}
.phedex-about {
  width: 50em;
}
.phedex-instance {
  position: absolute;
  right: 0;
  top: 1.7em;
  width: 14em;
  padding: 0 1em 0;
}
.phedex-logger {
  float: right;
}
.phedex-controls {
  text-align: right;
}
.phedex-heading-logo {
  position:		absolute;
  width:		100px;
  height:		100px;
  padding-left:		10px;
}
.phedex-heading-logo img {
  border:	none;
  padding-top:	5px;
}

.phedex-heading {
  margin:		16px 0 5px;
  padding:		0;
  padding-left:		100px;
  min-height:		85px;
}

.phedex-heading h1 {
  padding:		0;
  margin:		0;
  text-align:		left;
  color:		#105000;
  text-shadow:		3px 3px 5px #ffc;
}

.phedex-heading h2 {
  padding:		0;
  margin:		5px 0 0;
  text-align:		left;
  color:		#105000;
  text-shadow:		3px 3px 3px #ffc;
}

a.phedex-link {
  text-decoration: none;
  background-color: #9f0; /* light-green */
  color:black;
}
a:hover.phedex-link {
  text-decoration: none;
  background-color: yellow;
}
a:visited.phedex-link {
  color:black;
}
a.phedex-link-current {
  background-color: yellow;
}

.phedex-filter-buttons {
  padding: 5px 0 0;
}
.phedex-filter-outer {
  border-bottom:  1px dotted #888;
  padding: 3px 0 0 0;
}
.phedex-filter-inner {
  display: inline-block;
  width: 250px;
  margin:  0 0.5em 0 0;
  text-align: right;
}
.phedex-filter-elem-invalid {
  border: 1px solid red;
  background-color: #fee;
}
.phedex-filter-elem-minmax {
  width: 80px;
  padding: 0 0 0 2em;
}

.phedex-core-param {
}
.phedex-core-title {
}
.phedex-core-control {
  position: absolute;
  right: 6px;
  top: 3px;
}
.phedex-core-control-widget {
  margin: 0 1px 0;
  padding: 0 1px 0;
}
a.phedex-core-control-widget {
  text-decoration: none;
  padding: 0 0.3em;
}
.phedex-core-control-widget .phedex-core-control-widget-applied {
  background-color: #fd6; /* light orange */
}
a.phedex-core-control-widget-applied { /* extra specificity ('a') to take precedence over active/inactive values */
  background-color: #fd6; /* light orange */
}
a.phedex-core-control-widget-disabled { /* extra specificity ('a') to take precedence over active/inactive values */
  background-color: #eee;
  border: 1px dotted #888;
}
.phedex-core-control-widget-inactive {
  background-color: #9f0; /* light-green */
}
.phedex-core-control-widget-active {
  background-color: yellow;
}

.phedex-core-extra {
  background-color: white;
  overflow-x: hidden;
  cursor: default; /* would be 'move' otherwise, since the extra div in in the header */
}
.phedex-core-selected {
  border: 1px solid red;
  font-weight: bold;
}

.phedex-core-widget-progress {
  position:absolute;
  right:6px;
  top:1px;
  height:20px;
  width:20px;
}

.phedex-core-overlay { position:absolute; background-color:#aaa; border:1px dotted black; padding:0; margin:0; opacity: 0.92;}
.phedex-core-overlay .hd { background-color:#eee; margin: 25px 25px 0; }
.phedex-core-overlay .bd { background-color:#fff; margin: 0 25px 0; }
.phedex-core-overlay .ft { background-color:#eee; margin: 0 25px 25px; }

.phedex-tnode-field {
  overflow: hidden;
  height: 1.4em;
  padding-right: 6px;
  background-color: #f8f8f8;
  border-right: 1px dotted #aaa;
}
.phedex-tnode-header {
  font-weight: bold;
  height: 1.6em;
  overflow-x: auto;
  padding-right: 6px;
  background-color: #eee;
}
.phedex-tnode-auto-height {
  height: 100%;
  padding-bottom: 3px;
}

.phedex-drow-highlight { /*not actually used at the moment*/
  background-color: yellow;
}

.phedex-tnode-highlight {
  background-color: yellow;
}
.phedex-tnode-highlight-associated {
  background-color: #ff8;
}

.phedex-data-odd { /* not used at present */
  background-color: #EDF5FF;
}
.phedex-data-even { /* not used at present */
  background-color: #fff;
}

.phedex-tree-block-name .phedex-tree-file-name {
/*   overflow-x: hidden; */
}

.yui-panel .container-close {
  position:absolute;
  top:3px;
  right:6px;
  height:15px;
  width:18px;
  overflow:hidden;
  text-indent:-10000em;
  text-decoration:none;
/*   background: url(/yui/build/assets/skins/sam/sprite.png) no-repeat 0 -300px; */
  background: url(/images/widget-close.gif) no-repeat;
  cursor:pointer;
}

.yui-skin-sam .yui-dt-liner { white-space:nowrap; } 

.yui-panel .bd {
  overflow:auto;
  position: relative; /* Apparently fixes a problem in IE7 */
  background-color: #fdfdfd;
  padding: 2px;
  margin: 0 5px 0 0;
}

.yui-panel .hd {
  height: 2em;
/*   overflow-y: auto;  */ /* This would be nice, to see hidden content in the header, but it screws up pull-down menus */
  background-color: #eee;
  padding: 0 5px 0 2px;
}

.yui-panel .ft {
  padding: 0 0 5px 0; /* leave spoace for resize-handles */
}

.yui-panel .yui-resize-handle-br {
    right:0;
    bottom:0;
    height: 8px;
    width: 8px;
    position:absolute;
}
/* make sure resize-handles are clearly visible in treeview-headers by raising them up */
.yui-panel .yui-resize .yui-resize-handle-inner-r {
 top: 0%;
}

.yui-panel .hide-scrollbars .yui-resize .bd {
  overflow: hidden;
}
.yui-panel .show-scrollbars .yui-resize .bd {
  overflow: auto;
}
.yui-panel .show-scrollbars .underlay {
  overflow: visible;
}
