body {
  margin: 0;
  padding: 0;
  font-size: 100%;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.align-justify {
  text-align: justify;
}

.inline_list {
  display: table;
  width: 100%;
  margin: 0;
  padding: 0;
}

.inline_list ul {
  display: table-row;
}

.inline_list li {
  display: table-cell;
  list-style-type: none;
  text-align: center;
}

.node-progress {
  position:absolute;
  right:6px;
  top:1px;
  height:20px;
  width:20px;
  display:none
}

.treeview-header {
  font-weight: bold;
}

.yui-panel .container-close {
  position:absolute;
  top:3px;
  right:6px;
  height:15px;
  width:18px;
  overflow:hidden;
  text-indent:-10000em;
  text-decoration:none;
/*   background: url(/yui/build/assets/skins/sam/sprite.png) no-repeat 0 -300px; */
  background: url(/images/widget-close.gif) no-repeat;
  cursor:pointer;
}

.yui-skin-sam .yui-dt-liner { white-space:nowrap; } 

.yui-panel .bd {
  overflow:auto;
  position: relative; /* Apparently fixes a problem in IE7 */
  background-color: #eaeaea;
  padding: 2px;
  margin: 0 5px 0 0;
}

.yui-panel .hd {
  height: 2em;
/*   overflow-y: auto;  */ /* This would be nice, to see hidden content in the header, but it screws up pull-down menus */
  background-color: #eee;
  padding: 0 5px 0 2px;
}

.yui-panel .ft {
  padding: 0 0 5px 0;
}

.yui-panel .content {
}

.yui-panel .yui-resize-handle-br {
    right:0;
    bottom:0;
    height: 8px;
    width: 8px;
    position:absolute;
}
.yui-panel.hide-scrollbars .yui-resize .bd {
  overflow: hidden;
}

.yui-panel.show-scrollbars .yui-resize .bd {
  overflow: auto;
}

.yui-panel.show-scrollbars .underlay {
  overflow: visible;
}
