=head1 NAME

.spacemonrc - configuration file for CMS Space Monitoring 

=head1 DESCRIPTION

Namespace rules hash defines how many directory levels under the specified path are monitored.
To validate the configuration paramteres run: spacemon validate -config <file>

=head1 EXAMPLE

=over 5

 0 - total size of the directory is monitored, the contents are concealed
 1 - the directory and immediate subdirectories are monitored
 2 - two levels of subdirectories are monitored, 
     and so on
-1 - (negative int) exclude directory from the monitoring record

=cut

%rules = (
    '/store/' => 1,
    '/store/user/' => 0,
    '/store/relval/' => 0,
    '/store/user/cmsprod/' => 0,
    '/store/user/samtests/' => 0,
    '/store/group/' => 1,
    '/store/temp/' => 0,
    '/store/temp/user/' => 1,
    '/store/backfill/1/' => 0,
    '/store/backfill/2/' => 0,
    '/store/local' => 0,
    '/store/local/private/' => -1,
);
