body {
  background-color: #f8f8f8;
  font-family: Verdana, sans serif;
}

h1, h2 {
  background: #ddf;
  font-weight: normal;
  margin: 10px 10px 0;
  padding: 10px 5px 10px 5px;
  border-left: 1px solid white;
  border-top: 1px solid white;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}
h1 {
  font-size:  1.7em;
}
h2 {
  font-size:  1.4em;
}
.phedex-doc p, .phedex-doc ul {
  font-size: 1.2em;
}
p, ul {
  margin: 0 10px 0;
  padding: 10px 5px 10px;
}
.phedex-logo {
  border: none;
  padding: 10px 15px 5px;
  float:left;
}
a:hover {
  background: #d0d0d0;
}
.block
{
  height: 100px;
  padding-left: 110px;
  background: #bbf url(/phedex/datasvc/static/phedex-logo-small.gif) no-repeat 10px 10px;
  border-left: 1px solid white;
  border-top: 1px solid white;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

dt
{
  background: #ddf;
  padding-left: 10px;
  border-left: 1px solid white;
  border-top: 1px solid white;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

hr
{
  height: 2px;
  width: 95%;
  border-left: 1px solid white;
  border-top: 1px solid white;
  border-right: 1px solid #66f;
  border-bottom: 1px solid #66f;
}

td .block
{
  background: #eef;
  padding: 20px;
}

code, pre
{
  font-size: 1.2em;
  font-style: fixed;
}