/* 
 * Based off of the style of http://cpan.org
 * Specifically: http://st.pimg.net/tucs/style.css
 * Designed to be minimalistic and readable 
 */

BODY, .logo { background: white; }

BODY {
  color: black;
  font-family: arial,sans-serif;
  margin: 0;
  margin-right: 20ex;
  padding: 1ex;
}

TABLE {
  border-collapse: collapse;
  border-spacing: 0;
  border-width: 0;
  color: inherit;
}

HR { border: 0; }
IMG { border: 0; }
FORM { margin: 0; }

A:link {
  background: transparent;
  color: #006699;
}

A:visited {
  background: transparent;
  color: #993366;
}

A[href="#POD_ERRORS"] {
  background: transparent;
  color: #FF0000;
}

TD {
  margin: 0;
  padding: 0;
}

DIV {
  border-width: 0;
}

DT {
  margin-top: 1em;
}

.credits TD {
  padding: 0.5ex 2ex;
}

TH {
  background: #bbbbbb;
  color: inherit;
  padding: 0.4ex 1ex;
  text-align: left;
}

TH A:link, TH A:visited {
  background: transparent;
  color: black;
}

PRE     {
  background: #eeeeee;
  border: 1px solid #888888;
  color: black;
  padding: 1em;
  white-space: pre;
}

H1      {
  background: transparent;
  color: #006699;
  font-size: large;
}

H1 A { text-decoration: none; }
H2 A { text-decoration: none; }
H3 A { text-decoration: none; }
H4 A { text-decoration: none; }

H2      {
  background: transparent;
  color: #006699;
  font-size: medium;
}

H3      {
  background: transparent;
  color: #006699;
  font-size: medium;
  font-style: italic;
}

H4      {
  background: transparent;
  color: #006699;
  font-size: medium;
  font-weight: normal;
}

IMG     {
  vertical-align: top;
}
